@font-face { 
    font-family: "Roboto"; 
    src: url('./fonts/Roboto-Regular.ttf'); 
} 

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: Roboto;
    margin: 0;
    height: 100vh;
}

body, input {
    background-color: #f3f4f6;
}

h1, h2 {
    margin: 10px 0;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 30px;;
    gap: 20px;
}

.search-area, .welcome-area, .button-area {
    display: grid;
}

.user-area {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 30px;
}

.button-area {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 5px 15px;
}

button {
    border-radius: 30px;
    border: none;
}

button:hover {
    filter: brightness(115%);
}

button:active {
    filter: brightness(80%);
}

.search-area{
    grid-template-columns: 1fr 11fr;
}

.welcome-area {
    grid-template-columns: 1fr 7fr;
}

.img2 {
    grid-row: 1 / 3;
}

.user-account {
    font-size: 0.9rem;
}

.greeting {
    font-size: 0.8rem;
}

.personalization, .user-account, button {
    font-weight: bold;
}

input {
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0 10px;
}

input:focus {
    border: 2px solid #0284c7;
}

aside {
    grid-row: 1 / 3;
    padding-left: 10px;
}

aside, button {
    background-color: #0284c7;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 15px;
    gap: 15px;
}

section.projects {
    grid-row: 1 / 3;
}

.projects .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.announcements .section-content, .trending .section-content, .projects .section-content .card  {
    background-color: white;
    border-radius: 7px;
    padding: 5px 15px;
}

.announcements .section-content, .trending .section-content {
    display: grid;
}

.projects .section-content .card {
    border-left: 6px solid #fcd34d;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 10px;
    padding: 5px;
}

.card-title {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-text {
    color: #6b7280;
    font-size: 0.8rem;
}

.announcements .section-content .card {
    border-top: 1px solid #e5e7eb;
}

.announcements .section-content div:first-child {
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

li a:active {
    font-style: italic;
}